{% extends 'base.html.twig' %}

{% block title %}Test technique - Connexion{% endblock %}

{% block body %}

<div class="container">
    <h1>Connectez-vous !</h1>
    {% for message in app.flashes('success')%}
        <div>{{ message }}</div>
    {% endfor %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{path('security_login')}}" method="post">
        <div class="form-group">
            <label for="username">Adresse email :</label>
            <input class="login-form" type="email" id="username" name="_username" placeholder="exemple@mail.fr" value="{{last_username}}">
        </div>
        <div class="form-group">
            <label for="password">Mot de Passe :</label>
            <input class="login-form" type="password" id="password" name="_password" placeholder="**********">
        </div>
        <input class="login-form" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div>
            <button class="btn" type="submit">Se connecter</button>
        </div>
    </form>
</div>
{% endblock %}
